/*Sidebar start*/

.side_bar {
    height: 100%;
    width: 15%;
    background-color: #75a8ff;
    position: fixed;
    -webkit-box-shadow: 5px 5px 10px -5px rgba(0, 0, 0, 0.74);
    box-shadow: 5px 5px 10px -5px rgba(0, 0, 0, 0.74);
}

.side_bar p {
    margin-right: auto;
    width: 100%;
    list-style: none;
    font-size: 20px;
    text-align: center;
    text-emphasis: bold;
    font-family: 'Proza Libre', sans-serif;
}

.side_bar li a {
    color: #282f3b;
}

#side_bar_header {
    font-size: 20px;
}

.side_bar_content {
    border-radius: 8px;
}

.side_bar_content a {
    color: White;
}

.HL {
    border: 0.5px solid #282f3b;
    width: 100%;
}

.logo {
    margin-left: 30%;
}

#btn {
    border-radius: 2px;
    width: 100%;
    background-color: #ff758e;
    -webkit-box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.74);
    box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.74);
}


/**************************Main app components***********************************/

.due_text {
    margin-left: 60%;
}

.buttons {
    border-radius: 2px;
    background-color: transparent;
    width: 100%;
    border: none;
    -webkit-box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.74);
    box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.74);
}

.welcome {
    display: inline-block;
    margin-top: 5%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Proza Libre', sans-serif;
    color: black;
}

.icons {
    width: 100%;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.mission_text {
    margin-top: 5%;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
    color: black;
}

.main_app_header {
    margin-top: 10%;
    margin-bottom: 1%;
    width: 100%;
    text-align: center;
    padding-top: 2%;
    border-radius: 2px;
    -webkit-box-shadow: 5px 5px 10px -3px rgba(0, 0, 0, 0.74);
    box-shadow: 5px 5px 10px -3px rgba(0, 0, 0, 0.74);
    background-color: #fff493;
}
.main_app_header p{
font-size: 20px;
}
.login_header{
height: 790px;
width: 100%;
position: absolute;
background-image: linear-gradient(45deg,#89bef7 1%,#007bff);
transform:skewy(26deg) translateY(-410px);
z-index:-1;
}
#login_text{
    position: absolute;
    z-index: 1;
    margin-left:50%;
    margin-top: 10%;
    width: 40%;
 
    animation: fadein 1s;
}
@keyframes fadein{
    from{margin-left:5%};
    to {margin-left:50%}
}
.main_app_thought {
    height: 400px;
    display: inline-block;
    margin-left: auto;
    margin-right: 5%;
    
    width: 75%;
    border-radius: 8px;
    display: none;
    flex-direction: column;
}

.main_app_today {
    height: auto;
    margin: auto;
    width: 80%;
    display: none;
    border-radius: 8px;
    margin-bottom: 5%;
    display: none;
    display: flex;
}

.header_main {
    background-color: #fff493;
    opacity: 0.8;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    color: #282f3b;
    text-align: center;
    border-radius: 2px;
    -webkit-box-shadow: 5px 5px 15px 3px rgba(0, 0, 0, 0.74);
    box-shadow: 5px 5px 15px 3px rgba(0, 0, 0, 0.74);
}



/**************************Signn in conent***********************************/

.sign_in {

    position: absolute;
    width: 30%;
    margin-left: 5%;
    border-radius: 3px;
    bottom: 150px;
    animation: fadeout 1s;

}
@keyframes fadeout{
from{margin-left:50%};
to {margin-left: 5%;}
}
.sign_in h3{
    margin-top:8%;
    font-size: 17px;
}
#modal_2{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
   
}
#modal_3{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
   
}
.sign_in label {
    padding: 1%;
}

.sign_in input {
    padding: 1%;
}

#button_content {
    width: 50%;
}

.sign_in_text {
    padding: 3%;
    background-color: #75a8ff;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 4px;
    padding: 5%;
}



.sign_in_pop-up {
    background-color: #ffffff;
   
    height: auto;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-radius: 4px;
    padding: 2%;
    -webkit-box-shadow: 5px 5px 8px -2px rgba(0, 0, 0, 0.74);
    box-shadow: 5px 5px 8px -2px rgba(0, 0, 0, 0.74);
    margin-bottom: 5%;
}

.sign_in_pop-up_2 {
    background-color: #ffffff;
    height: auto;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 2px;
    -webkit-box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.74);
    box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.74);
    margin-bottom: 5%;
}

.sign_in_pop-up label {
    padding: 5%;
    width: 100%;
    font-size: 15px;
    margin-bottom: 0%;
}

.sign_in_pop-up input {
    padding: 6%;
}

.sign_in_pop-up_button {
    background-color: transparent;
    width: 100%;
    height: 50px;
    -webkit-box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.74);
    box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.74);
}


/**************************Post content***********************************/

.post_title {
    background-color: #fff493;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    width: 100%;
    -webkit-box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.74);
    box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.74);
    border-radius: 2px;
}

.post_title p {
    text-align: end;
}

#add_items {
    width: 93.5%;
    display: inline-block;
}

#sort_button {
    opacity: 0.9;
    border: none;
    border-radius: 8px;
    background-color: transparent;
    grid-column-start: 2;
}

#sort_button img {
    width: 65%;
    justify-content: flex-end;
}

#post_button {
    opacity: 0.9;
    border: none;
    border-radius: 8px;
    background-color: transparent;
    display: inline-block;
}

#post_button img {
    width: 60%;
}

.edit_button {
    opacity: 0.9;
    border: none;
    background-color: transparent;
}

.post_content {
    display: inline-block;
    padding-bottom: 8%;
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 2px;
    -webkit-box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.74);
    box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.74);
}

.post_content form {
    width: 100%;
}

.list_div {
    display: flex;
    flex-direction: row;
}

.button_content {
    align-items: flex-end;
    display: inline-block;
}

.button_position {
    width: 100%;
    margin-left: auto;
}

.list_items {
    list-style: none;
    height: auto;
    overflow-wrap: break-word;
    padding-left: 2%;
}

.list_items li {
    width: 92%;
    display: inline-block;
}

.list_hr {
    width: 90%;
    margin-left: 0;
    color: black;
}

.due_date {
    margin-top: 1%;
    width: 9%;
    margin-left: 1%;
    background-color: #ff758e;
    color: white;
    padding: 0.3%;
    opacity: 0.6;
    border-radius: 5px;
    font-size: 12px;
}

.add_post {
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.add_postt {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


.card{
    background-color: #ffffff;
   
    height: auto;
    
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 4px;
    padding: 5%;

    
}
#add_post_content_button {
    width: 100%;
    border-radius: 2px;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: rgb(220, 220, 220);
    -webkit-box-shadow: 5px 5px 15px -4px rgba(0, 0, 0, 0.74);
    box-shadow: 5px 5px 15px -4px rgba(0, 0, 0, 0.74);
}

.dlt_button {
    border: none;
    border-radius: 8px;
    background-color: transparent;
}

#edit_box {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: none;
    z-index: 1;
}

#edit_post {
    width: 35%;
    margin-top: 30%;
    grid-column-start: 2;
}

#add_postA {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: none;
    z-index: 1;
    grid-template-columns: 40% 10% 50%;
}

#post_add_A {
    width: 40%;
    margin-top: 30%;
    grid-column-start: 2;
    grid-column-end: 4;
}


/**************************Media query start***********************************/

@media only screen and (max-width: 600px) {
    .header_main h1 {
        font-size: 20.5px;
    }
    .header_main P {
        display: none;
    }
    .header_main h6 {
        font-size: 10px;
    }
    .header_main {
        width: 90%;
    }
    .sign_in {
        height: 0px;
    }
    .sign_in_text {
        display: none;
    }
    .icons {
        width: 100%;
        display: none;
    }
    h1 {
        width: 90%;
    }
    .subheader_main {
        width: 70%;
    }
    .sign_in {
        width: 70%;
    }
    .sign_in_pop-up {
        width: 70%;
    }
    .side_bar {
        width: 100%;
        height: 50px;
        display: inline-block;
        z-index: 5;
    }
    .side_bar p {
        display: inline-block;
        font-size: 16px;
        width: 10px;
        margin-left: 15%;
    }
    #btn {
        margin-left: 20%;
        width: 30%;
        display: inline-block;
        font-size: 16px;
        height: 50px;
    }
    h1 {
        width: 100%;
    }
    #mission_text {
        width: 100%;
    }
    #mission_paragraph {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    #welcome {
        margin-top: 30%;
    }
    #logo {
        display: none;
    }
    .HL {
        display: none;
    }
    .main_app_thought {
        width: 100%;
    }
    .main_app_header {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30%;
    }
    .buttons {
        margin-bottom: 10%;
    }
    .post_content {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .due_date {
        width: 22%;
        margin-top: 2%;
    }
    .post_content li {
        width: 100%;
        margin-left: 2%;
    }
    .post_title {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    .post_title p {
        width: 95%;
        margin-left: 8%;
    }
    #post_add_A {
        width: 100%;
        grid-column-start: 1;
    }
    #edit_post {
        width: 100%;
        grid-column-start: 1;
    }
    .list_items li {
        width: 100%;
    }
    .login_header{
        height: 600px;
        width: 100%;
        position: absolute;
        background-image: linear-gradient(45deg,#89bef7 1%,#007bff);
        transform:skewy(26deg) translateY(-410px);
        z-index:-1;
        }
        #login_text h1{
            position: absolute;
            z-index: 1;
            
            font-size: 30px;
        
            animation: fadein 1s;
        }
        #login_text h5{display: none;}
        .sign_in {
            bottom:200px;
        }
        #add_items{
            width: 50%;
            margin-left: 32%;
        }
    
}

@media only screen and (device-width: 768px) {
    #post_add_A {
        width: 60%;
        grid-column-start: 2;
        margin-top: 10%;
    }
    #add_items{
        width: 50%;
        margin-left: 40%;
    }
    .due_date {
        width: 18%;
        margin-top: 2%;
    }
    #edit_post {
        width: 60%;
        grid-column-start: 2;
    }
    .main_app_header {
        margin-left: 12%;
        width:92%;
    }
    .buttons {
        margin-left: 12%;
    }
    .side_bar {
        width: 20%;
    }
    .post_content {
        width:92%;
        margin-left: 12%;
    }
    .post_content li {
        width: 80%;
    }
    .post_title {
        width:92%;
        margin-left: 12%;
        
    }
    .post_title p {
        width: 60%;
        margin-left: 8%;
        margin-bottom: 8%;
    }
    #welcome {
        margin-left: 15%;
        width: 80%;
    }
    h1 {
        font-size: 10px;
    }
    #mission_paragraph {
        width: 100%;
        margin-left: 15%;
    }
    .icons footer {
        width: 40%;
        display: inline-block;
    }
    .icons {
        display: none;
    }
    .sign_in_text {
        height: 0px;
        width: 100%;
    }
    .sign_in_pop-up form {
        width: 100%;
    }
    .sign_in_pop-up{
        width:50%;
        margin-top: 2%;
    }
    .login_header{
        height: 600px;
        width: 100%;
        position: absolute;
        background-image: linear-gradient(45deg,#89bef7 1%,#007bff);
        transform:skewy(26deg) translateY(-410px);
        z-index:-1;
        }
        #login_text h1{
            position: absolute;
            z-index: 1;
            margin-left:20%;
            font-size: 30px;
            margin-top: 10%;
            width: 100%; 
            animation: fadein 1s;
        }
        #login_text h5{display: none;}
        .sign_in {
            bottom:5px;
        }
}